:root {
  --header-height: 3.5rem;

  /* --first-hue: 234;
  --sat: 100%;
  --lig: 66%; */
  /* second hue red color */
  /* --second-hue: 0; */

  /* --first-color: hsl(var(--first-hue), var(--sat), var(--lig));
  --first-color-alt: hsl(var(--first-hue), var(--sat), 71%);
  --title-color: hsl(var(--second-hue), 15%, 95%);
  --text-color: hsl(var(--second-hue), 8%, 75%);
  --text-color-light: hsl(var(--second-hue), 4%, 55%);
  --body-color: hsl(var(--second-hue), 0%, 12%);
  --container-color: hsl(var(--second-hue), 30%, 20%); */

  --red-color: #e54b4b;
  --white-color: #fff;
  --bg-color: #eff0f5;
  --black-color: #000;
  --grey-color: #717171;
  --light-grey-color: #ddd;

  --body-font: "mulish";
  --header-font: "poppins";
  --biggest-font-size: 1.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --tiny-font-siez: 0.652rem;

  --font-medium: 500;
  --font-semibold: 600;

  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  background-color: var(--bg-color);
}

.container {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  padding: 0 40px;
  /* position: relative; */
  clear: both;
}

/* ? ------------------ ? */
/* *       NAVBAR       * */
/* ! ------------------ ! */

.header {
  position: fixed;
  width: 100%;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  transition: 0.4s;
}

.nav_menu {
  position: fixed;
  bottom: 1rem;
  background-color: hsla(218, 32%, 16%, 0.8);
  width: 378px;
  border-radius: 4rem;
  padding: 1rem 2.25rem;
  backdrop-filter: blur(10px);
  transition: 0.4s;
  left: 0;
  right: 0;
  margin: auto;
}

.nav_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_link {
  color: var(--light-grey-color);
  font-size: 1.25rem;
  padding: 0.4rem;
  display: flex;
  border-radius: 5rem;
}

.nav_link {
  padding: 0.7rem;
}

.active-link {
  background: var(--red-color);
  color: var(--white-color);
  transition: all 0.4s ease;
}

/* ! ------------------ ! */
/* *       NAVBAR       * */
/* ? ------------------ ? */

/* ? ------------------ ? */
/* *        HOME        * */
/* ! ------------------ ! */

.home {
  width: 100%;
  height: 100vh;
  clear: both;
  float: left;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%, 0 100%);
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.home .ripple {
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("https://marketifythemes.net/html/grax/img/slider/2.jpg");
}

.home .ripple:before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.home .container {
  height: 100%;
}

.home .details {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
}

.home .name {
  font-size: 52px;
  font-weight: 700;
  color: var(--white-color);
  /* margin-bottom: 11px; */
  letter-spacing: 0px;
}

.home .job {
  color: var(--red-color);
  font-family: var(--header-font);
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 40px;
  max-width: 400px;
  font-style: italic;
}

.name-section {
  margin-bottom: 20px;
}

.fn_animation.ready {
  opacity: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.2;
  font-family: var(--header-font);
  color: var(--black-color);
}

/* .section {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
} */

.about {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  margin-bottom: 100px;
  padding-top: 100px;
}

.about .about_inner {
  width: 100%;
  height: auto;
  clear: both;
  display: flex;
  align-items: center;
}

.about .about_inner .left {
  width: 40%;
  height: auto;
  clear: both;
  padding-right: 50px;
}

.about .about_inner .right {
  width: 60%;
  padding-left: 50px;
  /* font-size: 36px;
  font-weight: 700;
  color: #000;
  margin-bottom: 20px; */
}

.about .about_inner .left img {
  width: 100%;
  height: auto;
  clear: both;
}

.abe_title {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
}

.abe_title h3 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 5px;
  font-size: 30px;
}

.abe_title h3 span {
  color: var(--red-color);
}

.about .right .text {
  width: 100%;
  float: left;
  padding-top: 27px;
  padding-bottom: 28px;
}

.about .right .text p {
  word-spacing: 5px;
  line-height: 1.5;
  color: var(--black-color);
}

.about .left .image {
  position: relative;
}

.about .left .image img {
  opacity: 0;
  min-width: 100%;
}

.about .left .main {
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 0 0 40px rgb(0 0 0 / 20%);
}

.abe_button a {
  text-decoration: none;
  color: var(--bg-color);
  display: inline-block;
  background-color: var(--red-color);
  border: 2px solid var(--red-color);
  padding: 10px 40px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 5rem;
}

.abe_button a:hover {
  background-color: var(--bg-color);
  color: var(--red-color);
  border-radius: 5rem;
}

/* ! ------------------ ! */
/* *        HOME        * */
/* ? ------------------ ? */

/* ? ------------------ ? */
/* *       CONTACT       * */
/* ! ------------------ ! */

.contact {
  width: 100%;
  height: auto;
  padding-top: 90px;
  padding-bottom: 100px;
  text-align: center;
}

.center_section  {
  justify-content: center;
}

.contact_title h3 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 5px;
  font-size: 30px;
}

.contact_sub_title {
  color: var(--grey-color);
  margin-top: 20px;
  margin-bottom: 40px;
}

.contact_form {
  width: 35%;
  margin: auto;
}

.contact_form_input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.contact_form_div {
  position: relative;
  margin-bottom: 2rem;
  height: 4rem;
}

.contact_form_tag {
  position: absolute;
  top: -0.75rem;
  left: 1.25rem;
  font-size: var(--small-font-size);
  padding: 0.25rem;
  background-color: var(--bg-color);
  z-index: 10;
}

.contact_form_area {
  height: 11rem;
}

.contact_form_area textarea {
  resize: none;
}

.contact_form_input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--grey-color);
  background: none;
  outline: none;
  padding: 1.5rem;
  border-radius: 0.75rem;
  z-index: 1;
}

.submit_button {
  color: var(--bg-color);
  background-color: var(--red-color);
  border: 2px solid var(--red-color);
  padding: 10px 40px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 5rem;
}

.submit_button:hover {
  background-color: var(--bg-color);
  color: var(--red-color);
  border-radius: 5rem;
}

/* ! ------------------ ! */
/* *       CONTACT       * */
/* ? ------------------ ? */

/* ? ------------------ ? */
/* *       FOOTER       * */
/* ! ------------------ ! */

footer {
  width: 100%;
  height: auto;
  background-color: var(--black-color);
  color: var(--white-color);
  text-align: center;
}

footer h1 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--white-color);
}

.footer_title {
  font-size: 30px;
  font-weight: 700;
  color: var(--white-color);
  border-bottom: 1px solid var(--red-color);
}

.footer_container {
  padding-top: 50px;
  padding-bottom: 150px;
  margin: auto;
}

.footer_list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer_list li {
  margin: 20px;
}

.footer_list a {
  color: var(--white-color);
  font-size: 18px;
  text-decoration: none;
  border-bottom: 1px solid var(--grey-color);
}

.footer_copy {
  margin-top: 50px;
}

/* ! ------------------ ! */
/* *       FOOTER       * */
/* ? ------------------ ? */

/* ! ------------------ ! */
/* *       CURSOR       * */
/* ? ------------------ ? */

.cursor-outer {
  border-color: var(--red-color);
}

.cursor-inner {
  background-color: var(--red-color);
}

@media (max-width: 1040px) {
  .cursor-outer {
    display: none;
  }

  .cursor-inner {
    display: none;
  }
}

/* ? ------------------ ? */
/* *       CURSOR       * */
/* ! ------------------ ! */

/* ! ------------------ ! */
/* *       RESPONSIVE       * */
/* ? ------------------ ? */

@media screen and (max-width: 500px) {
  .home .name {
    font-size: 35px;
  }

  .home .job {
    color: var(--red-color);
    font-size: 15px;
  }

  .contact_form {
    width: 80%;
  }
}

@media screen and (min-width: 500px) {
  .home .name {
    font-size: 40px;
  }

  .home .job {
    color: var(--red-color);
    font-size: 17px;
  }

  .contact_form {
    width: 60%;
  }
}

@media screen and (min-width: 768px) {
  .home .name {
    font-size: 45px;
  }

  .home .job {
    color: var(--red-color);
    font-size: 19px;
  }

  .contact_form {
    width: 45%;
  }
}

@media screen and (min-width: 1040px) {
  .home .name {
    font-size: 50px;
  }

  .home .job {
    color: var(--red-color);
    font-size: 21px;
  }

  .contact_form {
    width: 35%;
  }
}

/*  for screen 950 or less */
@media screen and (max-width: 950px) {
  .about .about_inner {
    flex-direction: column;
    text-align: center;
  }

  .about .about_inner .left {
    display: contents;
  }

  .about .about_inner .left {
    width: 100%;
    padding-right: 0;
    margin-bottom: 50px;
  }

  .about .left .image {
    width: 40%;
  }

  .about .about_inner .right {
    width: 100%;
    padding-left: 0;
  }

  .abe_title h3 {
    margin-top: 50px;
  }
}
