/* @import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap'); */
/* @import url("https://fonts.googleapis.com/css2?family=Mitr:wght@500&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --header-height: 3.5rem;

  /* --first-hue: 234;
  --sat: 100%;
  --lig: 66%; */
  /* second hue red color */
  /* --second-hue: 0; */

  /* --first-color: hsl(var(--first-hue), var(--sat), var(--lig));
  --first-color-alt: hsl(var(--first-hue), var(--sat), 71%);
  --title-color: hsl(var(--second-hue), 15%, 95%);
  --text-color: hsl(var(--second-hue), 8%, 75%);
  --text-color-light: hsl(var(--second-hue), 4%, 55%);
  --body-color: hsl(var(--second-hue), 0%, 12%);
  --container-color: hsl(var(--second-hue), 30%, 20%); */

  --main-color: #537895;
  --second-color: #09203f;
  --red-color: #ff6262;
  --white-color: #fff;
  --bg-color: #eff0f5;
  --black-color: #000;
  --grey-color: #717171;
  --light-grey-color: #ddd;

  --custom-font: "Poppins", sans-serif;
  /* --main-font: "mulish";
  --second-font: "poppins"; */
  --biggest-font-size: 1.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --tiny-font-siez: 0.652rem;

  --font-medium: 500;
  --font-semibold: 600;

  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--custom-font);
  /* font-weight: 500; */
  /* background-color: var(--bg-color);
  background: linear-gradient(
    to top,
    var(--second-color) 0%,
    var(--main-color) 100%
  ); */
  background: var(--main-color); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    var(--second-color),
    var(--main-color)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    var(--second-color),
    var(--main-color)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.2;
  font-family: var(--custom-font);
  color: var(--black-color);
}

.container {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  padding: 0 40px;
  /* position: relative; */
  clear: both;
}

.action_outline_btn {
  color: var(--white-color);
  border: 1px solid var(--white-color);
  padding: 10px 40px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 5rem;
  font-size: 16px;
}

.action_outline_btn:hover {
  background-color: var(--second-color);
  color: var(--white-color);
  border-radius: 5rem;
  border: 1px solid var(--second-color);
}

.action_btn {
  color: var(--white-color);
  background-color: var(--second-color);
  border: 2px solid var(--second-color);
  /* border: 1px solid var(--second-color); */
  padding: 10px 40px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 5rem;
  font-size: 16px;
}

.action_btn:hover {
  background-color: transparent;
  color: var(--white-color);
  border: 2px solid var(--white-color);
  border-radius: 5rem;
}

/* ? ------------------ ? */
/* *       NAVBAR       * */
/* ! ------------------ ! */

.header {
  position: fixed;
  width: 100%;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  transition: 0.4s;
}

.nav_menu {
  position: fixed;
  bottom: 1rem;
  background-color: hsla(218, 75%, 13%, 0.8);
  width: 378px;
  border-radius: 4rem;
  padding: 1rem 2.25rem;
  backdrop-filter: blur(10px);
  transition: 0.4s;
  left: 0;
  right: 0;
  margin: auto;
}

.nav_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_link {
  color: var(--light-grey-color);
  font-size: 1.25rem;
  padding: 0.4rem;
  display: flex;
  border-radius: 5rem;
}

.nav_link {
  padding: 0.7rem;
}

.active-link {
  background: var(--red-color);
  color: var(--white-color);
  transition: all 0.4s ease;
}

.icon_img {
  width: 25px;
}

/* ! ------------------ ! */
/* *       NAVBAR       * */
/* ? ------------------ ? */

/* ? ------------------ ? */
/* *        HOME        * */
/* ! ------------------ ! */

.home {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  /* position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%, 0 100%);
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; */
}

/* .home .ripple {
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("https://marketifythemes.net/html/grax/img/slider/2.jpg");
}

.home .ripple:before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
} */

.home .details {
  text-align: center;
  /* width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5; */
}

.home .name {
  /* font-size: 52px; */
  font-size: 3.5rem;
  font-weight: 700;
  color: var(--white-color);
  /* margin-bottom: 11px; */
  letter-spacing: 0px;
}

.home .job {
  color: var(--red-color);
  font-family: var(--custom-font);
  /* font-size: 17px; */
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 40px;
  max-width: 400px;
  font-style: italic;
  font-weight: 700;
}

.name_section {
  margin-bottom: 35px;
}

.fn_animation.ready {
  opacity: 1;
}

.action_section {
  margin-top: 60px;
  gap: 20px;
}

.symfony_icon {
  width: 30px;
  height: 30px;
  fill: var(--second-color);
}

.flutter_icon {
  width: 30px;
  height: 30px;
  fill: var(--second-color);
}

.scroll_down {
  position: absolute;
  bottom: 50px;
  right: 30px;
  cursor: pointer;
  writing-mode: vertical-rl;
}

.scroll_link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-decoration: none;
  color: var(--white-color);
}

.scroll_link i {
  font-size: 24px;
  animation: bounce 2s infinite;
}

.scroll_link span {
  transform: scale(-1);
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.social_network {
  position: absolute;
  bottom: 50px;
  left: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.social_network_item {
  /* flex-direction: column; */
  /* background-color: hsla(218, 75%, 13%, 0.8); */
  background-color: var(--white-color);
  border: 1px solid var(--second-color);
  padding: 10px;
  gap: 15px;
  margin-bottom: 5px;
  border-radius: 10%;
  transition: all 0.3s ease;
}

.social_network_item:hover {
  background-color: var(--second-color);
}

.social_network_item:hover .social_network_link {
  color: var(--white-color);
}

.social_network_link {
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-decoration: none;
  color: var(--second-color);
  /* color: var(--white-color); */
}

.social_network::after {
  content: "";
  display: block;
  transform: rotate(90deg);
  width: 32px;
  height: 2px;
  background-color: var(--white-color);
  margin-top: 23px;
}

/* ! ------------------ ! */
/* *        HOME        * */
/* ? ------------------ ? */

/* ? ------------------ ? */
/* *       ABOUT        * */
/* ! ------------------ ! */

.about {
  width: 100%;
  height: auto;
  margin-bottom: 100px;
  padding-top: 100px;
}

.about .about_inner {
  width: 100%;
  height: auto;
  clear: both;
  display: flex;
  align-items: center;
}

.about .about_inner .left {
  width: 40%;
  height: auto;
  clear: both;
  padding-right: 50px;
}

.about .about_inner .right {
  width: 60%;
  padding-left: 50px;
  /* font-size: 36px;
  font-weight: 700;
  color: #000;
  margin-bottom: 20px; */
}

.about .about_inner .left img {
  width: 100%;
  height: auto;
  clear: both;
}

.abe_title {
  width: 100%;
  height: auto;
}

.abe_title h3 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 5px;
  font-size: 30px;
  color: var(--white-color);
}

.abe_title h3 span {
  color: var(--red-color);
}

.about .right .text {
  width: 100%;
  padding-top: 27px;
  padding-bottom: 28px;
}

.about .right .text p {
  word-spacing: 0px;
  line-height: 2;
  color: var(--white-color);
}

.about .left .image {
  position: relative;
}

.about .left .image img {
  opacity: 0;
  min-width: 100%;
}

.about .left .main {
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 0 0 40px rgb(0 0 0 / 20%);
}

.about_me_img {
  border-radius: 1.5rem;
}

/* ! ------------------ ! */
/* *       ABOUT        * */
/* ? ------------------ ? */

/* ? ------------------ ? */
/* *       CONTACT       * */
/* ! ------------------ ! */

.contact {
  width: 100%;
  height: auto;
  padding-top: 90px;
  padding-bottom: 100px;
  text-align: center;
}

.center_section  {
  justify-content: center;
}

.contact_title h3 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 5px;
  font-size: 30px;
  color: var(--white-color);
}

.contact_sub_title {
  color: var(--white-color);
  margin-top: 20px;
  margin-bottom: 40px;
}

.contact_form {
  width: 35%;
  margin: auto;
}

.contact_form_div {
  position: relative;
  margin-bottom: 2rem;
  height: 4rem;
}

.contact_form_tag {
  position: absolute;
  top: -0.75rem;
  left: 1.25rem;
  font-size: var(--small-font-size);
  padding: 0.25rem;
  background-color: var(--main-color);
  border-radius: 7px;
  z-index: 10;
  color: var(--white-color);
}

.contact_form_area {
  height: 11rem;
}

.contact_form_area textarea {
  resize: none;
}

.contact_form_input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--main-color);
  background: none;
  outline: none;
  padding: 1.5rem;
  border-radius: 0.75rem;
  z-index: 1;
  margin-bottom: 10px;
  font-size: 15px;
}

.contact_form_input::placeholder {
  color: var(--light-grey-color);
}

.submit_button {
  color: var(--white-color);
  background-color: var(--second-color);
  border: 2px solid var(--second-color);
  padding: 10px 40px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 5rem;
  font-size: 16px;
  font-family: var(--custom-font);
}

.submit_button:hover {
  background-color: transparent;
  color: var(--white-color);
  border: 2px solid var(--white-color);
  border-radius: 5rem;
}

/* ! ------------------ ! */
/* *       CONTACT       * */
/* ? ------------------ ? */

/* ? ------------------ ? */
/* *       SKILLS       * */
/* ! ------------------ ! */

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  /* background: #f9f9f9; */
}

.skills_title h3 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 5px;
  font-size: 30px;
  margin-bottom: 50px;
}

.skill_card {
  background: var(--white-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 280px;
  transition: transform 0.3s ease-in-out;
  text-align: center;
  display: flex; /* Utilisez flexbox */
  flex-direction: column; /* Les éléments s'empilent verticalement */
  justify-content: space-between;
}

.skill_card h3 {
  margin-top: 15px;
  color: #333;
}

.skill_card p {
  margin-top: 15px;
  font-size: 0.95em;
  line-height: 1.6;
  color: #666;
}

.skill_card .badge {
  display: block;
  margin-top: 10px;
  background: var(--red-color);
  color: var(--white-color);
  padding: 3px 7px;
  border-radius: 5px;
  font-size: 0.8em;
}

.skill_card:hover {
  transform: translateY(-5px);
}

.skill_card .badge {
  width: min-content;
  padding: 10px;
  border-radius: 50px;
  align-content: center;
  margin: auto;
}

.skill_card_bottom {
  margin-top: 10px;
}

.available {
  background-image: url("https://marketifythemes.net/html/grax//img/patterns/inspiration-geometry.png");
  background-color: var(--second-color);
  color: var(--white-color);
  padding: 50px;
}

.available h3 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--white-color);
}

.available_button {
  margin-top: 20px;
}

.available_button a {
  position: relative;
  color: var(--red-color);
  text-decoration: none;
}

.available_button a::before {
  content: "";
  position: absolute;
  transition: transform 0.23s ease;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  background: var(--red-color);
}

.available_button a:hover::before {
  transform: scaleX(1);
}

.available_text p {
  font-size: 18px;
  color: var(--white-color);
}

/* ! ------------------ ! */
/* *       SKILLS       * */
/* ? ------------------ ? */

/* ? ------------------ ? */
/* *       FOOTER       * */
/* ! ------------------ ! */

footer {
  width: 100%;
  height: auto;
  /* background-color: var(--black-color); */
  color: var(--white-color);
  text-align: center;
}

footer h1 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--white-color);
}

.footer_title {
  font-size: 30px;
  font-weight: 700;
  color: var(--white-color);
  border-bottom: 1px solid var(--red-color);
}

.footer_container {
  padding-top: 50px;
  padding-bottom: 150px;
  margin: auto;
}

.footer_list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer_list li {
  margin: 20px;
}

.footer_list a {
  color: var(--white-color);
  font-size: 18px;
  text-decoration: none;
  border-bottom: 1px solid var(--grey-color);
}

.footer_copy {
  margin-top: 50px;
}

/* ! ------------------ ! */
/* *       FOOTER       * */
/* ? ------------------ ? */

/* ! ------------------ ! */
/* *       CURSOR       * */
/* ? ------------------ ? */

/* .cursor-outer {
  border-color: var(--red-color);
}

.cursor-inner {
  background-color: var(--red-color);
}
*/
/* for mobile devices */

@media (max-width: 1040px) {
  /* .cursor-outer {
    display: none;
  }

  .cursor-inner {
    display: none;
  } */

  #magicPointer {
    display: none;
  }

  #magicMouseCursor {
    display: none;
  }
}

#magicPointer {
  background: var(--red-color);
}
/* #magicPointer.pointer-overlay {
  background-color: var(--main-color) !important;
  box-shadow: 0 0 15px 5px var(--main-color) !important;
} */
#magicPointer.pointer-blur {
  border: 1px solid var(--red-color) !important;
}
#magicMouseCursor {
  border: 1px solid var(--red-color) !important;
}

/* Back to Top with Progress */
.progress-wrap {
  position: fixed;
  right: 30px;
  bottom: 30px;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  box-shadow: inset 0 0 0 2px rgb(244 236 236 / 25%);
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.progress-wrap::after {
  position: absolute;
  font-family: "unicons";
  content: "\e84b";
  text-align: center;
  line-height: 46px;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.3);
  left: 0;
  top: 0;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  z-index: 1;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  color: var(--white-color);
}

.progress-wrap:hover::after {
  opacity: 0;
  color: var(--white-color);
  stroke: var(--white-color);
}

.progress-wrap::before {
  position: absolute;
  font-family: "unicons";
  content: "\e84b";
  text-align: center;
  line-height: 46px;
  font-size: 24px;
  opacity: 0;
  /* background: black; */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  left: 0;
  top: 0;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  z-index: 2;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.progress-wrap:hover::before {
  opacity: 1;
}

.progress-wrap svg path {
  fill: none;
  stroke: var(--white-color);
  color: var(--white-color);
}

.progress-wrap svg.progress-circle path {
  stroke-width: 4;
  box-sizing: border-box;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

/* ? ------------------ ? */
/* *       CURSOR       * */
/* ! ------------------ ! */

/* ! ------------------ ! */
/* *       RESPONSIVE       * */
/* ? ------------------ ? */

@media screen and (max-width: 500px) {
  /* .home .name {
    font-size: 35px;
  }

  .home .job {
    font-size: 17px;
  } */

  .contact_form {
    width: 90%;
  }

  .submit_button {
    width: 100%;
  }
}

@media screen and (min-width: 500px) {
  /* .home .name {
    font-size: 40px;
  }

  .home .job {
    font-size: 17px;
  } */

  .contact_form {
    width: 60%;
  }
}

@media screen and (min-width: 768px) {
  /* .home .name {
    font-size: 45px;
  }

  .home .job {
    font-size: 19px; 
  } */

  .contact_form {
    width: 45%;
  }
}

@media screen and (min-width: 1040px) {
  /* .home .name {
    font-size: 50px;
  }

  .home .job {
    font-size: 22px;
  } */

  .contact_form {
    width: 35%;
  }
}

/*  for screen 950 or less */
@media screen and (max-width: 950px) {
  .about .about_inner {
    flex-direction: column;
    text-align: center;
  }

  .about .about_inner .left {
    display: contents;
  }

  .about .about_inner .left {
    width: 100%;
    padding-right: 0;
    margin-bottom: 50px;
  }

  .about .left .image {
    width: 40%;
  }

  .about .about_inner .right {
    width: 100%;
    padding-left: 0;
  }

  .abe_title h3 {
    margin-top: 50px;
  }

  .about .about_inner .left img {
    width: auto;
  }
}
